<footer id="footer">
	<div id="footer-widgets" role="complementary">
		<section id="linkcat-6" class="widget widget_links">
			<h3 class="title">Voices of Progress</h3>

			<ul class='xoxo blogroll'>
				<li><a href="http://www.alistapart.com/" target="_blank" onclick="javascript:_gaq.push(['_trackEvent','outbound-blogroll','http://www.alistapart.com/']);">A List Apart</a>
				</li>

				<li><a href="http://www.crockford.com/" target="_blank" onclick="javascript:_gaq.push(['_trackEvent','outbound-blogroll','http://www.crockford.com/']);">Douglas Crockford</a>
				</li>

				<li><a href="http://meyerweb.com/" target="_blank" onclick="javascript:_gaq.push(['_trackEvent','outbound-blogroll','http://meyerweb.com/']);">Eric Meyer</a>
				</li>

				<li><a href="http://www.codinghorror.com/" target="_blank" onclick="javascript:_gaq.push(['_trackEvent','outbound-blogroll','http://www.codinghorror.com/']);">Jeff Atwood</a>
				</li>

				<li><a href="http://www.zeldman.com/" target="_blank" onclick="javascript:_gaq.push(['_trackEvent','outbound-blogroll','http://www.zeldman.com/']);">Jeffrey Zeldman</a>
				</li>

				<li><a href="http://www.joelonsoftware.com/" target="_blank" onclick="javascript:_gaq.push(['_trackEvent','outbound-blogroll','http://www.joelonsoftware.com/']);">Joel Spolsky</a>
				</li>

				<li><a href="http://ejohn.org/" target="_blank" onclick="javascript:_gaq.push(['_trackEvent','outbound-blogroll','http://ejohn.org/']);">John Resig</a>
				</li>

				<li><a href="http://snook.ca/" target="_blank" onclick="javascript:_gaq.push(['_trackEvent','outbound-blogroll','http://snook.ca/']);">Jonathan Snook</a>
				</li>

				<li><a href="http://paulirish.com/" target="_blank" onclick="javascript:_gaq.push(['_trackEvent','outbound-blogroll','http://paulirish.com/']);">Paul Irish</a>
				</li>
			</ul>
		</section>

		<section id="linkcat-7" class="widget widget_links">
			<h3 class="title">Knowledge Resources</h3>

			<ul class='xoxo blogroll'>
				<li><a href="http://css3please.com/" target="_blank" onclick="javascript:_gaq.push(['_trackEvent','outbound-blogroll','http://css3please.com/']);">CSS3 Please!</a>
				</li>

				<li><a href="http://dochub.io/" target="_blank" onclick="javascript:_gaq.push(['_trackEvent','outbound-blogroll','http://dochub.io/']);">DocHub</a>
				</li>

				<li><a href="https://github.com/Modernizr/Modernizr/wiki/HTML5-Cross-browser-Polyfills" target="_blank" onclick="javascript:_gaq.push(['_trackEvent','outbound-blogroll','https://github.com/Modernizr/Modernizr/wiki/HTML5-Cross-browser-Polyfills']);">HTML5 Cross Browser Polyfills</a>
				</li>

				<li><a href="http://html5doctor.com/" target="_blank" onclick="javascript:_gaq.push(['_trackEvent','outbound-blogroll','http://html5doctor.com/']);">HTML5 Doctor</a>
				</li>

				<li><a href="http://html5doctor.com/downloads/h5d-sectioning-flowchart.png" target="_blank" onclick="javascript:_gaq.push(['_trackEvent','outbound-blogroll','http://html5doctor.com/downloads/h5d-sectioning-flowchart.png']);">HTML5 Element Flowchart</a>
				</li>

				<li><a href="http://html5please.com/" target="_blank" onclick="javascript:_gaq.push(['_trackEvent','outbound-blogroll','http://html5please.com/']);">HTML5 Please</a>
				</li>

				<li><a href="http://www.html5rocks.com/" target="_blank" onclick="javascript:_gaq.push(['_trackEvent','outbound-blogroll','http://www.html5rocks.com/']);">HTML5 Rocks</a>
				</li>

				<li><a href="http://www.json.org/" target="_blank" onclick="javascript:_gaq.push(['_trackEvent','outbound-blogroll','http://www.json.org/']);">JSON.org</a>
				</li>

				<li><a href="https://developer.mozilla.org/" target="_blank" onclick="javascript:_gaq.push(['_trackEvent','outbound-blogroll','https://developer.mozilla.org/']);">Mozilla Developer Network</a>
				</li>

				<li><a href="http://www.quirksmode.org/" target="_blank" onclick="javascript:_gaq.push(['_trackEvent','outbound-blogroll','http://www.quirksmode.org/']);">QuirksMode</a>
				</li>

				<li><a href="http://schema.org/" target="_blank" onclick="javascript:_gaq.push(['_trackEvent','outbound-blogroll','http://schema.org/']);">Schema.org (microdata)</a>
				</li>

				<li><a href="http://caniuse.com/" target="_blank" onclick="javascript:_gaq.push(['_trackEvent','outbound-blogroll','http://caniuse.com/']);">When can I use&#8230;</a>
				</li>
			</ul>
		</section>

		<section id="linkcat-8" class="widget widget_links">
			<h3 class="title">Libraries &amp; Frameworks</h3>

			<ul class='xoxo blogroll'>
				<li><a href="http://html5boilerplate.com/" target="_blank" onclick="javascript:_gaq.push(['_trackEvent','outbound-blogroll','http://html5boilerplate.com/']);">HTML5 Boilerplate</a>
				</li>

				<li><a href="http://jquery.com/" target="_blank" onclick="javascript:_gaq.push(['_trackEvent','outbound-blogroll','http://jquery.com/']);">jQuery</a>
				</li>

				<li><a href="http://jqueryui.com/" target="_blank" onclick="javascript:_gaq.push(['_trackEvent','outbound-blogroll','http://jqueryui.com/']);">jQuery UI</a>
				</li>

				<li><a href="http://mootools.net/" target="_blank" onclick="javascript:_gaq.push(['_trackEvent','outbound-	blogroll','http://mootools.net/']);">MooTools</a>
				</li>
			</ul>
		</section>
	</div>

	<nav id="footer-nav" role="navigation">
		<ul id="menu-footer-nav" class="menu">
			<li id="menu-item-162" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-162"><a href="{{ site.baseurl }}/">About Me</a>
			</li>

			<li id="menu-item-226" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-226"><a href="{{ site.baseurl }}/web-design/">Portfolio</a>
			</li>

			<li id="menu-item-164" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-164"><a href="{{ site.baseurl }}/resume/">Resume</a>
			</li>

			<li id="menu-item-165" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-165"><a href="{{ site.baseurl }}/code/">Web Development</a>
			</li>
		</ul>
	</nav>

	<div id="footer-info" role="contentinfo">
		<div id="footer-credits">Powered by <a href="http://www.blaskan.net">Blaskan</a> and <a href="http://www.wordpress.org">WordPress</a>.</div>
	</div>
</footer>
<!-- / #footer -->
