<header id="header" role="banner">
	<div id="site-name"><a href="{{ site.baseurl }}/" title="Byran Zaugg" rel="home">Byran Zaugg</a></div>

	<div id="header-message">Web Developer and Designer</div>

	<nav id="nav" role="navigation">
		<div class="menu">
			<ul id="menu-header-nav-1" >
				<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-117"><a title="About Me" href="{{ site.baseurl }}/" >About Me</a></li>

				<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-115"><a title="Resume" href="{{ site.baseurl }}/resume/" >Resume</a></li>

				<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-225"><a href="{{ site.baseurl }}/web-design/" >Design</a>
					<ul class="sub-menu">
						<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-201"><a href="{{ site.baseurl }}/web-design/" >Web</a></li>

						<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-208"><a href="{{ site.baseurl }}/print-design/" >Print</a></li>

						<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-181"><a href="{{ site.baseurl }}/logo-design/" >Logo</a></li>

						<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-247"><a href="{{ site.baseurl }}/illustration-design/" >Illustration</a></li>
					</ul>
				</li>

				<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-116"><a href="{{ site.baseurl }}/code/" >Web Development</a></li>
			</ul>
		</div>
	</nav>
</header>
<!-- / #header -->