{% include doctype-and-head.html %}

<body class="{% if page.url == "/index.html" %}home{% endif %} page page-template-default custom-background background-image advanced-menu sidebar footer-widgets">
	<div id="site">
		<div id="wrapper">
			{% include header.html %}

			<article id="content" role="main" class="page type-page status-publish hentry">
				<header>
					<h1>{{ page.title }}</h1>
				</header>

				<div class="content">
					{{ content }}
				</div>

				<footer></footer>

				<section id="comments">
				</section>
				<!-- / #comments -->
			</article>
			<!-- #content -->

			<aside id="primary" role="complementary">
				<section id="text-3" class="widget widget_text">
					<div class="textwidget">
						<section style="text-align:center;">
							<div><img src="{{ site.baseurl }}/content/uploads/2012/03/byran-zaugg-03.jpg"  style="border: 1px solid #CCC; padding:5px;"></div>

							<hgroup>
								<h1 style="font=size:16px; margin-bottom:0;">Byran Zaugg</h1>

								<h2 style="font-style: italic; font-size:16px; margin:0 0 0.5em; padding:0; font-weight:normal;">Web Developer, Designer <br />in Azusa, CA</h2>
							</hgroup>

							<p style="font-size:16px;">
								<a href="mailto:blzaugg@gmail.com">blzaugg@gmail.com</a><br />
								<a href="{{ site.baseurl }}/resume/" >My Resume</a><br />
								<a href="{{ site.baseurl }}/web-design/" >My Portfolio</a>
							</p>
						</section>

						<hr />
					</div>
				</section>

				<section id="text-4" class="widget widget_text">
					<div class="textwidget">
						<div style="padding:5px 0;"><!--spacer--></div>
					</div>
				</section>
			</aside>
			<!-- / #primary -->

			{% include footer.html %}
		</div>
		<!-- / #wrapper -->
	</div>
	<!-- / #site -->

	<script>
		MBP.scaleFix();
		MBP.hideUrlBar();
	</script>

	<!--[if (lt IE 9) & (!IEMobile)]>
	<script type="text/javascript" src="{{ site.baseurl }}/content/themes/blaskan/js/libs/selectivizr.1.0.3b.js"></script>
	<script type="text/javascript" src="{{ site.baseurl }}/content/themes/blaskan/js/libs/respond.min.js"></script>
	<![endif]-->
</body>

</html>