---
layout: default
---

<p style="text-align: center;">
	<a href="{{ site.baseurl }}/web-design/">Web Design</a>
	| <a href="{{ site.baseurl }}/print-design/">Print Design</a>
	| <a href="{{ site.baseurl }}/logo-design/">Logo Design</a>
	| <a href="{{ site.baseurl }}/illustration-design/">Illustration Design</a>
</p>

{{ content }}

<p style="text-align: center;">
	<a href="{{ site.baseurl }}/web-design/">Web Design</a>
	| <a href="{{ site.baseurl }}/print-design/">Print Design</a>
	| <a href="{{ site.baseurl }}/logo-design/">Logo Design</a>
	| <a href="{{ site.baseurl }}/illustration-design/">Illustration Design</a>
</p>