

/*This stylesheet is reserved for the shell only. No content styles.*/

/********************************************************************/
/*Browser quirks overrides*/
	html, body {margin:0; padding:0;} /*Remove body margins*/
/********************************************************************/

/********************************************************************/
/*Shell Structure & Position*/
	body {padding:0 15px 40px;}
	
	/******************************/
	#AccountNav {
		/*Old
		text-align:right;
		*/
		/*New*/
		float:right;
		margin-top:5px;
	}
	#AccountNav ul,
	#AccountNav ul li {line-height:normal;}
	#AccountNav ul {padding:0; margin:0;}
	#AccountNav ul li {
		display:inline;
		border-right:solid 1px;/*faux pipe*/
		list-style:none;
		padding:0 0.66em;
		margin:0;
	}
	#AccountNav ul li.last_li {
		border-right:none;/*Remove last faux pipe*/
		padding-right:0;/*Remove last padding*/
	}
	/******************************/
	
	/******************************/
	#Language_Menu {
		/*TODO*/
		position:absolute;
		margin-left:-200px;
		z-index:100;
		width:270px;
		border:solid 1px red;
		background-color:#ffffff;
	}
	/******************************/
	
	/******************************/
	#PrimaryNav {
		text-align:right;
		/*margin-top:75px*/
		margin-right:20px;
		clear:both;/*Ensures no wrapping by Floated #AccountNav*/
	}
	#PrimaryNav ul,
	#PrimaryNav ul li {line-height:normal;}
	#PrimaryNav ul {
		padding:0; margin:0;
		padding-bottom:4px;/*Must match #PrimaryNav ul li a {padding-bottom}*/
		white-space:nowrap;
	}
	#PrimaryNav ul li {
		margin:0; padding:0;
		list-style:none;
		display:inline;
	}
	#PrimaryNav ul li a {
		padding-top:6px;
		padding-right:15px;
		padding-bottom:4px;/*Must match #PrimaryNav ul {padding-bottom}*/
		padding-left:15px;
		margin:0;
		border:1px solid;
		border-bottom:none;
		text-decoration: none;
	}
	/******************************/
	
	#PageBody {border:solid 1px;}
	
	/******************************/
	#SectionHeader {height:40px;}
	#SectionHeader h5 {
		margin:0; padding:0;
		padding-left:13px;
		line-height:40px;
	}
	/******************************/
	
	table#PageBody_Columns {width:100%;}
	
	/******************************/
	#PageBody_ColumnLeft {
		width:220px;
		min-width:220px;/*Must match #PageBody_ColumnLeft img.FauxMinWidth {width}.*/
		vertical-align:top;
	}
	#PageBody_ColumnLeft img.FauxMinWidth {width:220px;}/*Must match #PageBody_ColumnLeft {width}.*/
	/******************************/
	
	#PageBody_ColumnRight {vertical-align:top;}
	
	/******************************/
	#SecondaryNav {
		border-top:solid 2px;
		border-bottom:solid 2px;
	}
	#SecondaryNav ul {
		margin:0; padding:0;
		padding-bottom:0.5em;
		padding-left:15px;/*Adds(-) to #SecondaryNav ul li ul li {margin-left}*/
		list-style-type:none;
		border-top:solid 8px;
		border-bottom:solid 8px;
		line-height:normal;
	}
	#SecondaryNav ul li {
		margin:0; padding:0;
		margin-top:1.10em;
		margin-bottom:0.33em;
		padding-right:8px;/*Must match SecondaryNav ul li ul li {margin-right}*/
		line-height:1em;
	}
	#SecondaryNav ul ul {
		padding-top:0;
		padding-bottom:0;
		padding-left:20px;/*Adds(-) to #SecondaryNav ul li ul li {margin-left}*/
		border:none;
	}
	#SecondaryNav ul li ul li {
		margin-left:-35px; padding-left:35px;/*Force <li> to take up whole column width. Must add up to: #SecondaryNav ul ul {padding-left} + #SecondaryNav ul {padding-left}*/
		margin-right:-8px;/*Must match SecondaryNav ul li {padding-right}*/
		margin-top:0.20em;
		margin-bottom:0.40em;
		line-height:1.1em;
	}
	/*#SecondaryNav ul li ul li.selected*/
	#SecondaryNav ul li ul li {/*Fix for vertical "Jumping" on nav.*/
		border-top:solid 2px;
		border-bottom:solid 2px;
		padding-top:0.20em;
		padding-bottom:0.25em;
		/*margin-top:0.15em;*/
		margin-top:0;/*Fix for vertical "Jumping" on nav.*/
		margin-bottom:0;
	}
	#SecondaryNav ul li ul li.selected a {text-decoration:none;}
	/******************************/
	
	/******************************/
	.SideModule {
		padding-bottom:8px;
		border-bottom:solid 2px;
	}
	.SideModule h6 {
		margin:0;
		padding:6px 8px 6px 15px;
		text-align:left;
	}
	/******************************/
	
	/******************************/
	#Qualifications table {width:100%;}
	#Qualifications td,
	#Qualifications th {
		vertical-align:top;
		padding:1px;
	}
	#Qualifications td.Date {
		padding-top:0.5em;
		padding-bottom:0.75em;
		text-align:right;	
	}
	#Qualifications th {
		padding-left:11px;
		text-align:left;
	}
	#Qualifications td {
		padding-right:11px;
		text-align:right;
	}
	#Qualifications td.Notes {
		padding-top:0.75em;
		padding-bottom:0.5em;
		padding-left:15px;
		text-align:left;
	}
	/******************************/
	
	/******************************/
	#JumpLinks {border:solid 2px;}
	#JumpLinks h6 {	
		margin:0;
		padding-left:10px;
		line-height:40px;
		float:left;	
	}
	#JumpLinks ul,
	#JumpLinks ul li {line-height:30px;/*JumpLinks items wrapping vertical spacing.*/}
	#JumpLinks ul {
		padding:3px;
		margin:3px;
		margin-left:135px;/*Allows space for floated JumpLinks... title.*/
	}
	#JumpLinks ul li {
		margin:0;
		padding:0 3px;
		list-style:none;
		display:inline;
		zoom:1;/*IE hasLayout bug fix. zoom is non standard css. Prevents background-image of [#JumpLinks ul li a] from "miss-wraping".*/
	}
	#JumpLinks ul li a {
		margin:0; padding:0;
		white-space:nowrap;
		
		padding:6px 0 6px 30px;/*Reserves space for icon (background image) & hit area.*/
		background-position:left 50%;
		background-repeat:no-repeat;
	}
	/******************************/
	
	#Content {margin:20px 10px 40px;}
	
	/******************************/
	#FooterNav {
		clear:both;
		margin:0.5em 0;
	}
	#FooterNav ul,
	#FooterNav ul li {line-height:normal;}
	#FooterNav ul {padding:0; margin:0;}
	#FooterNav ul li {
		margin:0;
		padding:0 0.66em;
		display:inline;
		list-style:none;
		border-right:solid 1px;/*faux pipe*/
	}	
	#FooterNav a:hover {text-decoration:underline;}
	#FooterNav li.last_li {
		border-right:none;/*Remove last faux pipe*/
		padding-right:0;/*Remove last padding*/
	}
	/******************************/
/********************************************************************/

/********************************************************************/
/*Shell Colors & Images*/
	body {
		background:url('../images/shell_body_topgradient.gif') repeat-x top left;
		background-color:#e2dfd3;
	}
	
	#PageHeader {background:url('../images/shell_pageheader_background.gif') no-repeat left top;}
	
	#ClientNameLogo {
		background:url('../images/companylogo.gif') no-repeat left 40%;
		width:288px;
		height:77px;
		/*background-color:;*/
		
		margin-left:70px;
		padding:40px 0 0px 0;
		
		display:block;
		color:#c32b0a;
		text-indent:-2900px;
	}
	
	/******************************/
	#AccountNav,
	#AccountNav li,
	#AccountNav a {color:#2f2400;}
	#AccountNav a:hover {
		color:#c32b0a;
		text-decoration:none;
	}
	#AccountNav li {border-left-color:#2f2400;}	
	/******************************/
	
	/******************************/
	#PrimaryNav ul li a {
		border-color:#4d760c;
		background:url('../images/shell_primarynav_off.gif') repeat-x top left;
		background-color:#4d760c;
		color:#fbefdb;
	}
	#PrimaryNav ul li a:hover {
		border-color:#4d760c;
		color:#c32b0a;
		background:#ffffff;
	}
	#PrimaryNav ul li a.selected,
	#PrimaryNav ul li a.selected:hover {
		border-color:#2f2400;
		color:#fbefdb;
		background:url('../images/shell_primarynav_sel.gif') repeat-x top left;
		background-color:#2f2400;
	}
	/******************************/
		
	#PageBody {
		border-color:#2f2400;
		background-color:#ffffff;/*Must match #PageBody_ColumnRight {background-color}.*/
	}
	
	/******************************/
	#SectionHeader {background:#2f2400 url('../images/shell_sectionheader_decoration.gif') no-repeat right top;}
	#SectionHeader h5 {color:#fbefdb;}
	/******************************/
	
	#PageBody_ColumnLeft {background:#f0ede1 url('../images/shell_columnleft_decoration.gif') no-repeat left bottom;}
	
	#PageBody_ColumnRight {
		background-color:#ffffff;/*Must match #PageBody {background-color}. Hides visual affect of content breaking out of it's parent element.*/
	}
	
	/******************************/
	#SecondaryNav {
		border-top-color:#ffffff;
		border-bottom-color:#ffffff;
		background-color:#e7e1cf;
	}
	#SecondaryNav ul {
		border-top-color:#4d760c;
		border-bottom-color:#4d760c;
	}
	#SecondaryNav ul li {color:#2f2400;}
	#SecondaryNav ul li ul li {
		background-image:url('../images/shell_secondarynav_bullet.gif');
		background-position:23px 50%;
		background-repeat:no-repeat;
	}
	#SecondaryNav ul li ul li a {color:#2f2400;}
	#SecondaryNav ul li ul li a:hover {
		text-decoration:none;
		color:#c32b0a;
	}
	#SecondaryNav ul li ul li {/*Fix for vertical "Jumping" on nav.*/
		background-color:#e7e1cf;
		border-top-color:#e7e1cf;
		border-bottom-color:#e7e1cf;
	}
	#SecondaryNav ul li ul li.selected {
		background-color:#ffffff;
		border-top-color:#cec29f;
		border-bottom-color:#cec29f;
	}
	#SecondaryNav ul li ul li.selected a {color:#2f2400;}
	/******************************/
	
	.SideModule {border-bottom-color:#ffffff;}
	
	/******************************/
	#Qualifications {background-color:#2f2400;}
	#Qualifications h6 {color:#fbefdb;}
	#Qualifications table {background-color:#f8f6f0;}
	#Qualifications td.Date {color:#2f2400;}
	#Qualifications th {color:#2f2400;}
	#Qualifications td {color:#2f2400;}
	#Qualifications td.Notes {color:#2f2400;}
	/******************************/
	
	/******************************/
	#JumpLinks {
		border-color:#ffffff;
		background-color:#4d760c;
	}
	#JumpLinks h6 {color:#fbefdb;}
	#JumpLinks h6 span {color:#91b05f;}
	#JumpLinks ul {background-color:#f6f8f0;}
	#JumpLinks ul li a {color:#4d760c;}
	#JumpLinks ul li a:hover {
		color:#c32b0a;
		text-decoration:none;
	}
	/******************************/
	
	/******************************/
	#FooterNav,
	#FooterNav li,
	#FooterNav a {color:#2f2400;}
	#FooterNav a:hover {
		color:#c32b0a;
		text-decoration:none;
	}
	#FooterNav li {border-left-color:#2f2400;}
	/******************************/
/********************************************************************/

/********************************************************************/
/*Shell Font Families & Sizes*/
	#ClientNameLogo {
		font-family:Arial, Sans-Serif;
		font-size:35px;
		font-weight:bold;
	}
	
	/******************************/
	#AccountNav {
		font-family:Arial, Sans-Serif;
		font-size:14px;
	}
	#AccountNav ul,
	#AccountNav li {
		letter-spacing:normal;
		word-spacing:normal;
	}
	
	#AccountNav .UserName {font-weight:normal;}
	/******************************/
	
	/******************************/
	#PrimaryNav {
		font-family:Georgia,Palatino,"Palatino Linotype",serif;
		font-size:13px;
		font-weight:bold;
		text-transform:uppercase;
	}
	#PrimaryNav ul,
	#PrimaryNav ul li {
		letter-spacing:0.1em;
		word-spacing:normal;
	}
	/******************************/
	
	/******************************/
	#SectionHeader h5 {
		font-family:Georgia,Palatino,"Palatino Linotype",serif;
		font-size:18px;
		font-weight:normal;
		letter-spacing:0.1em;
		word-spacing:normal;
		text-transform:uppercase;
	}
	h5 span {
		font-family:Arial, Sans-Serif;
		font-weight:normal;
		font-style:italic;
		font-size:14px;
		text-transform:none;
		letter-spacing:normal;
	}
	/******************************/
	
	/******************************/
	#SecondaryNav ul,
	#SecondaryNav ul li {
		letter-spacing:normal;
		word-spacing:normal;
	}
	#SecondaryNav ul li {
		font-family:Georgia,Palatino,"Palatino Linotype",serif;
		font-size:14px;
		font-weight:bold;
		text-transform:uppercase;
		letter-spacing:0.1em;
	}
	#SecondaryNav ul li ul li {
		font-family:Arial, Sans-Serif;
		font-size:14px;
		font-weight:normal;
		text-transform:none;
		letter-spacing:normal;
	}
	/******************************/
	
	.SideModule h6 {
		font-family:Georgia,Palatino,"Palatino Linotype",serif;
		font-size:12px;
		font-weight:bold;
		letter-spacing:normal;
		word-spacing:normal;
	}
	
	/******************************/
	#Qualifications table {font-family:Arial, Sans-Serif;}
	#Qualifications td.Date {
		font-size:12px;
		font-weight:normal;
		font-style:italic;
	}
	#Qualifications th {
		font-size:12px;
		font-weight:bold;
	}
	#Qualifications td {font-size:12px;}
	#Qualifications td.Notes {
		font-size:12px;
		font-style:italic;
	}
	/******************************/
	
	/******************************/
	#JumpLinks h6 {	
		font-family:Arial, Sans-Serif;
		font-size:18px;
		font-weight:bold;
		letter-spacing:normal;
		word-spacing:normal;
	}
	#JumpLinks ul,
	#JumpLinks ul li {
		letter-spacing:normal;
		word-spacing:normal;
	}
	#JumpLinks ul li a {
		font-family:Arial, Sans-Serif;
		font-size:12px;
		font-weight:bold;
	}
	/******************************/
	
	/******************************/
	#FooterNav {
		font-family:Arial, Sans-Serif;
		font-size:14px;
	}
	#FooterNav ul,
	#FooterNav ul li {
		letter-spacing:normal;
		word-spacing:normal;
	}
	/******************************/
/********************************************************************/